String Interpolation
<h1>Inside h1 {{title}}</h1>

Property Binding
<br>
<img [src]="imgURL" alt="some img">
<!-- <img [src]="imgURL" "changeImg()" alt="some img"> -->
<div id="div1">
  <button (click)="printPrimary()" class="btn btn-outline-primary btnClass" id="btn1">Click me</button>
  <button (click)="printDanger()" class="btn btn-outline-danger btnClass">Danger</button>
  <button (click)="printGreen()" class="btn btn-outline-warning btnClass">Warning</button>

</div>
<div>
  <!-- <h1 class="bg bg-success">{{message}}</h1> -->
  <h1 class="{{classname}}">{{message}}</h1>
</div>


<div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">@</span>
  <input [(ngModel)]="value" type="text"  class="form-control" placeholder="Input" aria-label="Username" aria-describedby="addon-wrapping" #box id="box1">
  <button (click)="submit(box.value)" class="btn btn-outline-success btnClass">Submit</button>
</div>
<h2 id="h2OfDiv">You typed: {{content}}</h2>


<div>
  <div>
    <input [(ngModel)]="text1" type="text" class="form-control">
  </div>
  
  <button (click)="text1=''" class="btn btn-success" [disabled]='checkUserNameLength()'>Clear</button>
  
  <div class="mt-2 bg-primary fs-6">
    <h1>{{text1}}</h1>
  </div>
</div>


<input type="text" class="form-control" (input)="updateOnEvent($event)">


